.emacs.bak/
build/
__pycache__/
src/flair_brookslab.egg-info/
test/tmp-input/
test/output/
.DS_Store
._*

*.bam
*.bai
*.gz
/dist/
.claude.bak/
.claude/*
!.claude/CLAUDE.md

# directory for taking random notes while working, never checked in
/notes/
# directory for random work, not checked in
/work/

# data files, symlinked in, never checked in
/data/
